.intro-header {
  background: no-repeat center center;
  background-color: gray;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 0;

  h1 {
    font-size: 3em;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 12px;
    border-radius: 10px;
    font-family: 'LibreBaskerville', serif;
  }

  .site-heading {
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin: auto;
  }

  .subheading {
    margin-top: 10px;
    background-color: rgba(19, 7, 7, .5);
    padding: 10px;
  }
}

.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;

  border: 1px solid transparent;
}

.flip-container:hover .flipper,
.flip-container.hover .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  width: 100%;
  height: 237px;
}

.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;

  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;

  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;

  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

.front,
.back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

.front {
  background-position: 0, 0;
  background-repeat: no-repeat;
  z-index: 2;
  background-size: contain;
}

.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);

  background: #f8f8f8;
}

.front .name {
  font-size: 1.5em; // display: inline-block;
  // background: transparent;
  color: $siteColor; // font-family: Courier;
  // padding: 5px;
  // border-radius: 5px;
  bottom: 15%;
  left: 25%;
  position: absolute; // text-shadow: 0.1em 0.1em 0.05em #333;
  // -webkit-transform: rotate(-20deg);
  // -moz-transform: rotate(-20deg);
  // -o-transform: rotate(-20deg);
  // transform: rotate(-20deg);
}

.back-logo {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.back-title {
  font-weight: bold;
  color: $siteColor;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  text-align: center;
  text-shadow: 0.01em 0.01em 0.05em 333;
  font-family: Courier;
  font-size: 1.5em;
}

.back p {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0 20px;
  font-family: arial;
  line-height: 1.5em;
}

.thumbnail.typing {
  background-color: #f9f9f9;
  text-align: center;

  h1 {
    font-weight: 200;
    line-height: 2.5em;
    font-size: 2.5em;
    color: $siteColor;
  }
}

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.post-content {

  &.audio,
  &.video {
    text-align: center;
  }

  audio,
  video,
  iframe {
    width: 600px;
    height: 350px;
    margin: 10px 50px;
    clear: both;
  }

  audio {
    height: 50px;
  }
}


ul.menu {
  padding: 0px;
  margin: 0px;
}

ul.menu li {
  float: left;
  padding: 0 10px;
}

.tagcloud a.active,
ul.menu li.active {
  color: $siteColor;
}

footer {
  text-align: center;
  border-top: 1px solid #efefef;
  color: #ffffff;
  background-color: $topNav;

  .copyright-wrapper {
    padding: 50px 0px;

    span {
      padding-right: 10px;
    }
  }

  a {
    color: #aac8d6;
    border-color: #596a72;
  }
}
