.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;

  border: 1px solid $siteColor;
}

.flip-container:hover .flipper,
.flip-container.hover .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 100%;
  height: 237px;
}

.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;

  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;

  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;

  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

.front {
  background: url('photos/encore.jpg') 0 0 no-repeat;
  z-index: 2;
  background-size: cover;
  // border-radius: 100%;
}

.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);

  background: #f8f8f8;
}

.front .name {
  font-size: 1.8em;
  display: inline-block;
  background: transparent;
  color: $siteColor;
  font-family: Courier;
  padding: 5px;
  border-radius: 5px;
  bottom: 15%;
  left: 25%;
  position: absolute;
  text-shadow: 0.1em 0.1em 0.05em #333;

  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

.back-logo {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.back-title {
  font-weight: bold;
  color: $siteColor;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  text-align: center;
  text-shadow: 0.01em 0.01em 0.05em 333;
  font-family: Courier;
  font-size: 1.5em;
}

.back p {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0 20px;
  font-family: arial;
  line-height: 2em;
}

.comment .fa-user-o {
  font-size: 3em;
}

body.mobile {
  .highlight-line {
    display: none;
  }
  #sidebar-wrappers {
    width: 100%;
    padding: 0px;
  }
  .sidebar-widgets {
    margin-top: 0px;
    #widget-warrior_about-2,
    #widget-search-3,
    #widget-warrior_recent_posts-2,
    #widget-tag_cloud-2,
    #widget-wechat,
    footer {
      display: none;
    }
    #widget-nav_menu-2 {
      margin-bottom: 5px;
      .widget-title {
        margin-bottom: 10px;
      }
      #menu-main-menu {
        li {
          float: left;
          margin-left: 10px;
          ul.menu li i {
            margin-right: 5px;
          }
        }
      }
    }
  }
  #main-header {
    padding: 10px 20px;
  }
  #main-header #logo {
    width: 100%;
    text-align: center;
  }

  #content-wrappers {
    .post-title h3 {
      font-size: 1.2em !important;
    }
  }

  .single-author .thumbnail {
    height: 100px;
    position: relative;
    width: 100%;
    img {
      left: 34%;
    }
  }
  .post-content {
    word-break: break-word;
  }
}
