%h2.text-center
  = I18n.t('action.new')
  = Article.model_name.human

.right
  = link_to I18n.t('action.back'), admin_articles_path

%div
  = render partial: 'form', locals: { resource: @article, url: admin_articles_path }
