%h2
  = raw @article.title

.clearfix
  = link_to I18n.t('action.back'), admin_articles_path
  = link_to I18n.t('action.edit'), edit_admin_article_path(resource)

.clearfix
  %br
  = raw @article.content
