html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #919191;
  background-color: #232323;
}

.justify {
  text-align: justify;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.nostart {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hidden {
  display: none;
}

.clear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  line-height: 0;
}

.clear {
  display: inline-block;
  clear: both;
}

html[xmlns] .clear {
  display: block;
}

* html .clear {
  height: 1%;
}

a {
  outline: none;
  text-decoration: none;
}

.fl_left {
  float: left;
}

.fl_right {
  float: right;
}

img {
  margin: 0;
  padding: 0;
  border: none;
  line-height: normal;
  vertical-align: middle;
}

.imgholder,
.imgl,
.imgr {
  padding: 4px;
  border: 1px solid #D6D6D6;
  text-align: center;
}

.imgl {
  float: left;
  margin: 0 15px 15px 0;
  clear: left;
}

.imgr {
  float: right;
  margin: 0 0 15px 15px;
  clear: right;
}

address,
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
  margin: 0;
  padding: 0;
}

div.wrapper {
  display: block;
  margin: 0;
  padding: 0 3%;
  text-align: left;
}

.row1,
.row1 a {
  color: #C0BAB6;
  background-color: #333333;
}

.row2 {
  color: #979797;
  background-color: #FFFFFF;
}

.row2 a {
  color: #FF9900;
  background-color: #FFFFFF;
}

.row3,
.row3 a {
  color: #919191;
  background-color: #232323;
}

.row1, .row3 {
  height: 15%;
}
.row2 {
  height: 70%;
}

div.wrapper h1,
div.wrapper h2,
div.wrapper h3,
div.wrapper h4,
div.wrapper h5,
div.wrapper h6 {
  margin: 0 0 15px 0;
  padding: 0;
  font-size: 20px;
  font-weight: normal;
  line-height: normal;
}

form,
fieldset,
legend {
  margin: 0;
  padding: 0;
  border: none;
}

legend {
  display: none;
}

input,
textarea,
select {
  font-size: 12px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#header,
#container,
#footer {
  display: block;
  width: 100%;
  margin: 0 auto;
}

#header {
  padding: 20px 0;
}

#header .fl_left h1,
#header .fl_left h2 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-transform: none;
}

#header .fl_left h1 {
  font-size: 36px;
}

#header .fl_left h2 {
  font-size: 13px;
}

#header #topnav {
  display: block;
  float: right;
  margin: 0;
  padding: 20px;
  list-style: none;
  color: #C0BAB6;
  background-color: #232323;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#header #topnav li {
  display: inline;
  margin-right: 25px;
  text-transform: uppercase;
}

#header #topnav li.last {
  margin-right: 0;
}

#header #topnav li a {
  color: #C0BAB6;
  background-color: #232323;
}

#header #topnav li a:hover,
#header #topnav li.active a {
  color: #449d44;
  background-color: #232323;
}

#container {
  padding: 30px 0;
}

#container a {
  background-color: transparent;
}

#container #portfolio,
#container #gallery {
  margin-bottom: 30px;
}

#container .pagination {
  display: block;
  width: 100%;
  text-align: center;
  clear: both;
  font-family: Verdana, Geneva, sans-serif;
}

#container .pagination ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#container .pagination li {
  display: inline;
}

#container .pagination strong {
  font-weight: normal;
}

#container .pagination .next {
  margin: 0;
}

#container .pagination a,
#container .pagination .current strong,
#container .pagination .splitter strong {
  display: inline-block;
  padding: 2px 6px;
  margin: 0 2px 0 0;
}

#container .pagination a {
  border: 1px solid #DFDFDF;
}

#footer {
  padding: 20px 0;
}

#footer p {
  margin: 0;
  padding: 0;
}

#not-found-wrappers {
  display: block;
  width: 100%;
  margin: 20px 0;
  line-height: 1.6em;
  text-align: center;
}

#not-found-wrappers .hgroup {
  text-transform: uppercase;
}

#not-found-wrappers .hgroup h1 {
  margin-bottom: 25px;
  font-size: 80px;
}

#not-found-wrappers .hgroup h1 span {
  display: inline-block;
  margin-left: 5px;
  padding: 2px;
  border: 1px solid #449d44;
  overflow: hidden;
}

#not-found-wrappers .hgroup h1 span strong {
  display: inline-block;
  padding: 0 20px 20px;
  border: 1px solid #449d44;
  font-weight: normal;
}

#not-found-wrappers .hgroup h2 {
  font-size: 60px;
}

#not-found-wrappers .hgroup h2 span {
  display: block;
  font-size: 30px;
}

#not-found-wrappers p {
  margin: 25px 0 0 0;
  padding: 0;
  font-size: 16px;
}
#not-found-wrappers p a {
  color: #449d44;
}

#not-found-wrappers p:first-child {
  margin-top: 0;
}
