- content_for :javascript do
  :javascript
    var _hmt = _hmt || [];
    (function($){
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?b8f39701da6c8a5b848ae1d135cd9ee5";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })(jQuery)
