.cc-window.cc-bottom.cc-banner.cc-type-opt-in.cc-theme-block
  %span.cc-message
    This website uses cookies to ensure you get the best experience on our website.

  .cc-compliance
    %a.cc-btn.cc-dismiss Got it!
