%footer.footer-wrapper.clearfix
  .copyright-wrapper
    .container.d-flex
      .mr-auto.p-2
        %span
          &copy; #{Time.zone.now.year}
        %span
          = link_to I18n.t('title'), root_path
        - if request.url =~ /admin/
          %span
            = link_to I18n.t('baidu_analysis'), 'https://tongji.baidu.com/web/welcome/ico?s=b8f39701da6c8a5b848ae1d135cd9ee5', target: '_blank'

      .ml-auto.p-2
        All Rights Reserved

%a#scroll-top{href: "javascript:void(0);"}
  %span.fa.fa-arrow-up

- content_for :javascript do
  :javascript
    (function($){
      loadAssetImages($('.intro-header'));
    })(jQuery)
