// Global site tag (gtag.js) - Google Analytics

= javascript_include_tag 'https://www.googletagmanager.com/gtag/js?id=UA-119023934-1'

:javascript
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-119023934-1');
