%header.intro-header{data: {url: image_path("photos/banner-00#{1+rand(6)}.jpg")}}
  .container
    .row
      .site-heading
        %h1
          = link_to I18n.t('tips.author'), root_path
        .subheading
          = I18n.t('tips.heading', date: Time.now.strftime('%Y-%m-%d'))
