%header.intro-header{data: {url: image_path('photos/banner-005.jpg')}}
  .container
    .row
      .site-heading
        %h1= I18n.t('tips.author')
        %span.subheading
          = I18n.t('tips.heading', date: Time.now.strftime('%Y-%m-%d'))
