%header.intro-header{data: {url: image_path("photos/banner-#{rand(1..15)}.jpg")}}
  .container
    .row
      .site-heading
        %h1
          = link_to I18n.t('tips.author'), root_path
        .subheading
          %em
            = I18n.t('job_title')
          |
          = I18n.t('tips.heading')
