/ Start carousel slider
#main-carousel-slider.carousel
  %ul.slides
    %li
      %article.post.overlay-post
        .thumbnail
          %img.attachment-carousel-image.size-carousel-image.wp-post-image{alt: "Girl riding a bike", height: "200", src: "http://demo2.themewarrior.com/grateful/wp-content/uploads/sites/7/2014/09/SplitShire-8557-800x500-290x200.jpg", width: "290"}/
        .overlay
          %h3.post-title
            %a{href: "http://demo2.themewarrior.com/grateful/2014/09/10/take-good-take-bad-take/", title: "You Take the Good, You Take the Bad, You Take Them Both"} You Take the...
          .meta
            %span.category
              %i.fa.fa-bookmark
              %a{rel: "category tag"} Life
    %li
      %article.post.overlay-post
        .thumbnail
          %img.attachment-carousel-image.size-carousel-image.wp-post-image{alt: "Man playing guitar", height: "200", src: "http://demo2.themewarrior.com/grateful/wp-content/uploads/sites/7/2014/09/SplitShire_IMG_1177-800x500-290x200.jpg", width: "290"}/
        .overlay
          %h3.post-title
            %a{href: "http://demo2.themewarrior.com/grateful/2014/09/06/matt-mullenweg-interview-podcast/", title: "<strong><em>Matt Mullenweg</em></strong> Interview Podcast"} Matt Mullenweg Interview...
          .meta
            %span.category
              %i.fa.fa-bookmark
              %a{rel: "category tag"} Life
    %li
      %article.post.overlay-post
        .thumbnail
          %img.attachment-carousel-image.size-carousel-image.wp-post-image{alt: "IMG_4965-800x500", height: "200", src: "http://demo2.themewarrior.com/grateful/wp-content/uploads/sites/7/2014/12/IMG_4965-800x500-290x200.jpg", width: "290"}/
        .overlay
          %h3.post-title
            %a{href: "http://demo2.themewarrior.com/grateful/2014/08/12/quote-from-sophia-loren/", title: "Quote from Sophia Loren"} Quote from Sophia...
          .meta
            %span.category
              %i.fa.fa-bookmark
              %a{href: "http://demo2.themewarrior.com/grateful/category/inspiration/", rel: "category tag"} Inspiration
    %li
      %article.post.overlay-post
        .thumbnail
          %img.attachment-carousel-image.size-carousel-image.wp-post-image{alt: "SplitShire_IMG_4681-800x500", height: "200", src: "http://demo2.themewarrior.com/grateful/wp-content/uploads/sites/7/2014/09/SplitShire_IMG_4681-800x500-290x200.jpg", width: "290"}/
        .overlay
          %h3.post-title
            %a{href: "http://demo2.themewarrior.com/grateful/2014/09/07/which-eye-makeup-look-should-you-use-on-your-first-date/", title: "<strong><em>Which Eye Makeup</em></strong> Look Should You Use on Your First Date"} Which Eye Makeup...
          .meta
            %span.category
              %i.fa.fa-bookmark
              %a{href: "http://demo2.themewarrior.com/grateful/category/travel/", rel: "category tag"} Travel
    %li
      %article.post.overlay-post
        .thumbnail
          %img.attachment-carousel-image.size-carousel-image.wp-post-image{alt: "IMG_6893b-773x515", height: "200", src: "http://demo2.themewarrior.com/grateful/wp-content/uploads/sites/7/2014/09/IMG_6893b-773x515-290x200.jpg", width: "290"}/
        .overlay
          %h3.post-title
            %a{href: "http://demo2.themewarrior.com/grateful/2014/09/06/quick-guide-on-how-to-survive-your-diet-plan/", title: "Quick Guide on <strong><em>How to Survive</em></strong> Your Diet Plan"} Quick Guide on...
          .meta
            %span.category
              %i.fa.fa-bookmark
              %a{href: "http://demo2.themewarrior.com/grateful/category/travel/", rel: "category tag"} Travel
    %li
      %article.post.overlay-post
        .thumbnail
          %img.attachment-carousel-image.size-carousel-image.wp-post-image{alt: "photo-1423412285756-e29e25d6ef7a", height: "200", src: "http://demo2.themewarrior.com/grateful/wp-content/uploads/sites/7/2014/08/photo-1423412285756-e29e25d6ef7a-290x200.jpeg", width: "290"}/
        .overlay
          %h3.post-title
            %a{href: "http://demo2.themewarrior.com/grateful/2014/08/11/embedding-track-from-bandcamp/", title: "Embedding Track from BandCamp"} Embedding Track from...
          .meta
            %span.category
              %i.fa.fa-bookmark
              %a{href: "http://demo2.themewarrior.com/grateful/category/music/", rel: "category tag"} Music
/ End carousel slider
