%ul{class: class_name}
  %li
    %a{href: "https://www.facebook.com/encore.shao", target: "_blank"}
      %i.fa.fa-facebook
  %li
    %a{href: "https://twitter.com/encoreshao", target: "_blank"}
      %i.fa.fa-twitter
  %li
    %a{href: "https://plus.google.com/+EncoreShao", target: "_blank"}
      %i.fa.fa-google-plus
  %li
    %a{href: "https://cn.linkedin.com/in/1encoreshao", target: "_blank"}
      %i.fa.fa-linkedin
  %li
    %a{href: "#", target: "_blank"}
      %i.fa.fa-youtube
  %li
    %a{href: "https://github.com/encoreshao", target: "_blank"}
      %i.fa.fa-github
  %li
    %a{href: "http://encoreshao.lofter.com", target: "_blank"}
      %i.fa.fa-rss
