= simple_form_for resource, url: url, html: { class: 'horizontal_form', validate: true } do |f|
  = f.error_notification
  = f.input :name, required: true

  .form-group.string
    %label.control-label
    = f.submit class: 'btn btn-primary'
