%h2.text-center
  = I18n.t('action.new')
  = Tag.model_name.human

.right
  = link_to I18n.t('action.back'), admin_tags_path

= render partial: 'form', locals: { resource: @tag, url: admin_tags_path }
