body {
	background-color: #efefef;
  section i.fa {
    font-size: 2em;
  }
  section h4 {
    margin-top: 1em;
  }
  nav.bg-faded {
  	min-height: 400px;
  }
  .nav-pills .nav-link {
  	font-size: 1em;
  }
}
