body {
	background-color: #efefef;
  .bg-inverse {
    background-color: $topNav !important;
  }
  a, a:hover, .btn {
    cursor: pointer;
  }
  section i.fa {
    font-size: 2em;
  }
  section h4 {
    margin-top: 1em;
  }
  .nav-pills .nav-link {
  	font-size: 1em;
  }
}
body.mobile {
  nav.navbar .container {
    margin: auto 20px;
  }
  .flex-column.pt-2 {
    display: none;
  }
}
