.prettyprint {
  color: #1d1d18;
  background-color: #FFFDDF;
}

.prettyprint,
.highlight {
  padding: 10px 10px;
  margin-top: 5px;
  box-shadow: 0 0 10px 1px #efefef, 0 1px 10px #efefef;
  &.text {
    margin: 5px 0px;
  }
}
