@media screen and (max-width: 1200px) {
  .container {
    width: 1000px;
  }
  #content-wrappers {
    // width: 66%;
    width: 100%;
  }
  #sidebar-wrappers {
    // width: 28%;
    display: none;
  }
  .before {
    right: 72%;
  }
  .post-inner {
    padding: 40px 60px 70px 60px;
  }
  .basic-post .post-title {
    font-size: 28px;
  }
  .post-format {
    font-size: 24px;
    margin-right: 10px;
  }
  .single-author .info {
    width: 78%;
  }
  .recent-post-widget ul .detail {
    width: 55%;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 760px;
  }
  .single-author .info {
    float: left;
    width: 70%;
  }
}

@media screen and (max-width: 800px) {
  .navbar-brand {
    display: none;
  }
  .container {
    width: 90%;
    position: relative;
  }
  .menu-navigation ul.menu,
  .widget_nav_menu ul.menu {
    display: none;
  }
  .menu-mobile {
    display: block;
  }
  .sidebar-widgets .widget.fixed {
    position: inherit !important;
  }
  .jPanelMenu-panel {
    background: #f5f5f5 !important;
    z-index: 5 !important;
  }
  #jPanelMenu-menu #main-header,
  .jPanelMenu-panel .sidebar-widgets,
  .jPanelMenu-panel #main-menu ul.main {
    display: none;
  }
  .jPanelMenu-panel #sidebar-wrappers {
    width: 100%;
    margin-right: 0;
    height: auto !important;
    background: #fff;
    z-index: 0;
    padding: 0;
  }
  #logo {
    text-align: center;
  }
  .before {
    display: none;
  }
  #logo a {
    text-align: center;
  }
  span.sticky-sticker {
    padding: 2px 10px;
  }
  .post-quote {
    background-size: cover !important;
  }
  .post-quote .post-inner {
    padding: 50px 30px;
  }
  .fb_iframe_widget {
    width: 90% !important;
  }
  .fb_iframe_widget iframe {
    width: 100% !important;
  }
  .select-menu {
    display: block;
    padding: 10px;
    border: none;
    width: 100%;
    margin-bottom: 0;
  }
  #content-wrappers {
    width: 100%;
  }
  .menu-trigger {
    display: block;
    left: 32px;
    top: 30px;
  }
  #main-header,
  .sidebar-widgets {
    clear: both;
  }
  body.admin-bar .sidebar-widgets {
    padding: 60px 30px;
  }
  .sidebar-widgets {
    margin-top: 30px;
  }
  #main-header {
    padding: 20px 30px;
  }
  #main-header:after {
    content: '';
    display: table;
    width: 100%;
  }
  #jPanelMenu-menu {
    display: block;
    z-index: 6 !important;
    box-shadow: 0 0 2px 3px rgba(0, 0, 0, .03), 0 1px 5px rgba(0, 0, 0, .1);
  }
  #jPanelMenu-menu:after {
    border-right: 1px solid #fff;
  }
  article.basic-post .post-title h3 {
    font-size: 30px !important;
    line-height: 120%;
  }
  .page-title h1,
  .post-title h1 {
    font-size: 35px !important;
  }
  #logo {
    float: right;
    margin-left: 60px;
    margin-bottom: 0;
    text-align: right;
    width: 140px;
  }
  blockquote {
    font-size: 25px !important;
    padding: 0 5%;
  }
  .single-author .info {
    width: 65%;
  }
  #sidebar-wrappers {
    width: 100%;
    padding: 0px;
  }
  .intro-header .site-heading {
    padding: 15px 0;
    h1 {
      font-size: 1.5em;
      padding: 5px;
      margin: 0px;
    }
  }
  .sidebar-widgets {
    margin-top: 0px;
    footer {
      display: none;
    }
    #widget-nav_menu-2 {
      .widget-title {
        margin-bottom: 10px;
      }
      #menu-main-menu li {
        float: left;
        margin-left: 10px;
        width: 50px;
        a {
          text-decoration: underline;
        }
        i.fa {
          display: none;
        }
      }
    }
  }
  #main-header {
    display: none;
    padding: 10px 20px;
    #logo {
      width: 100%;
      text-align: center;
    }
  }
  #content-wrappers {
    padding-top: 15px;
    .post-title h3 {
      font-size: 1.2em !important;
    }
  }

  .single-author .thumbnail {
    height: 100px;
    position: relative;
    width: 100%;
    img {
      left: 34%;
    }
  }
  .post-content {
    word-break: break-word;
  }
  article .thumbnail.typing {
    height: auto;
    h1 {
      line-height: 30px;
      font-size: 1em;
    }
  }
  .post-inner .meta span,
  footer.footer-wrapper {
    font-size: .8em;
    .copyright-wrapper {
      padding: 10px;
    }
  }
  .post-content {
    audio,
    video,
    iframe {
      width: 300px;
      height: 200px;
      margin: 10px 0px;
      clear: both;
    }
  }
  body.devise {
    #header {
      padding: 0px;
    }
    #header .login-intro h1,
    #header .login-intro .h1 {
      font-size: 1em;
    }
    #content .notices-boxes {
      font-size: .6em;
    }
    #content form label.control-label {
      width: 20% !important;
    }
    #content form .form-inline,
    .form-control {
      width: 60% !important;
    }
    footer {
      font-size: .7em;
    }
  }

  .fullpage-content {
    .caption {
      h1 {
        font-size: 2em !important;
      }
      span {
        font-size: 1em !important;
      }
    }
  }
  .caption.social-links {
    .fa {
      font-size: 2em;
    }
  }
}

@media screen and (max-width: 640px) {
  .container {
    width: 90%;
  }
  .post-nav {
    width: 100%;
  }
  .single-author .info {
    float: none;
    width: 100%;
    margin-top: 20px;
  }
  #post-nav .post-previous h3,
  #post-nav .post-next h3 {
    font-size: 14px;
  }
  .comments-list ul li .thumbnail,
  .user-detail .thumbnail {
    width: 60px;
    height: 60px;
  }
  .comment-detail,
  .comments-list ul.comment-response {
    margin-left: 80px;
  }
  .comment-form-wrapper .input,
  .comment-form-wrapper .input input {
    width: 100%;
  }
  .basic-post .post-title {
    font-size: 20px;
    line-height: 150% !important;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 95%;
  }
  .menu-trigger {
    left: 20px;
  }
  .page-title h5,
  .post-title h5 {
    font-size: 25px !important;
    line-height: 140%;
  }
  .post-inner {
    padding: 20px;
  }
  #post-nav .post-previous h3,
  #post-nav .post-next h3 {}
  .single-author .info {}
  .comments-list ul li .thumbnail,
  .user-detail .thumbnail {
    display: none;
  }
  .comment-detail,
  .comments-list ul.comment-response {
    margin-left: 0;
  }
  /* prettyPhoto styling for small screens */
  .pp_pic_holder.pp_default {
    width: 100%!important;
    left: 0!important;
    overflow: hidden;
  }
  div.pp_default .pp_content_container .pp_left {
    padding-left: 0!important;
  }
  div.pp_default .pp_content_container .pp_right {
    padding-right: 0!important;
  }
  .pp_content {
    width: 100%!important;
    height: auto!important;
  }
  .pp_fade {
    width: 100%!important;
    height: 100%!important;
  }
  a.pp_expand,
  a.pp_contract,
  .pp_hoverContainer,
  .pp_gallery,
  .pp_top,
  .pp_bottom {
    display: none!important;
  }
  #pp_full_res img {
    width: 100%!important;
    height: auto!important;
  }
  .pp_details {
    width: 100%!important;
    padding-left: 3%;
    padding-right: 4%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    margin-top: -2px!important;
  }
  a.pp_close {
    right: 10px!important;
    top: 10px!important;
  }
}
