= simple_form_for resource, as: resource_name, url: session_path(resource_name), html: { class: 'horizontal_form', validate: true } do |f|
  = f.input :email
  = f.input :password, input_html: { autocomplete: 'current-password' }

  %br
  = f.submit I18n.t('devise.sessions.login'), class: 'btn btn-primary'
