#pagepiling
  #section1.section
    %h1
    %ul.normal-links
      %li= link_to 'Full Panel - pagePiling', pagepiling_pages_fullpanels_path

:javascript
  (function($){
    $('#pagepiling').pagepiling({
      sectionsColor: ['#bfda00'],
      navigation: []
    });
  })(jQuery)
