:ruby
  text = I18n.t('tips.notes')
  text += '<br />'
  text += '<br />'
  text += '联系我吧: encore.shao@gmail.com'
  texts = [text]

#pagepiling
  .section
    %h3
      %span.typed1{data: {text: texts, period: 200}}

- content_for :javascript do
  :javascript
    (function($){
      $('#pagepiling').pagepiling({
        menu: null,
        sectionsColor: ['rgba(10, 164, 211, .8)'],
        scrollingSpeed: 500,
        navigation: {
          'position': 'right',
          'tooltips': ['']
        }
      });

      // Hide the navigation bar
      $('#pp-nav').hide()

      typingRotateCarousel('typed1');
    })(jQuery)
