%h2.text-center
  = I18n.t('action.new')
  = resource.model_name.human

.right
  = link_to I18n.t('action.back'), admin_categories_path

= render partial: 'form', locals: { resource: @category, url: admin_categories_path }
