@import "utils/variable";
@import "bootstrap";
@import "utils/font-awesome.min";
@import "jquery.pagepiling.min";
@import "pages/base";
@import "pages/homepages";
@import "pages/fullpanels";
@import "pages/slides-screen";
