.right
  = link_to I18n.t('action.back'), admin_site_groups_path
  = link_to I18n.t('action.edit'), edit_admin_site_group_path(resource)

.table-responsive
  .jumbotron
    %h2= resource.name
    %br
    %div= resource.created_at
